$fme-tour-z-index-backdrop: 11;
.fme-tour-overlay {
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: fixed;
  opacity: 0.9;
  z-index: $fme-tour-z-index-backdrop;
  background-color: #000;
}
.fme-tour-step {
  z-index: $fme-tour-z-index-backdrop !important;
  position:relative;
  &.fme-tour-white-background{
    background:white;
  }
  &.fme-tour-transparent-background{
    background:transparent;
  }
}
.fme-tour-step-clone {
  position: fixed;
}
.fme-tooltip-reference-layer {
  position: absolute;
  visibility: hidden;
  z-index: $fme-tour-z-index-backdrop + 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  min-width: 100vw;
}
.fme-tour-tooltip {
  font-style: italic;
  position: absolute;
  visibility: visible;
  padding: 0px;
  width: 100%;
  border: none;
  font-size:2.5em;
  line-height: 1.1em;
  color: #ffffff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  &.center{
    text-align:center;
  }
  &.bottom {
    &.right {
      text-align:right;
      padding-left:10%;
      padding-right:20px;
    }
    &.left {
      text-align:left;
      padding-right:10%;
      padding-left:20px;
    }
  }
  &.top {
    top: -30px;
    &.right {
      text-align:right;
      padding-left:10%;
      padding-right:20px;
    }
    &.left {
      text-align:left;
      padding-right:10%;
      padding-left:20px;
    }
  }
}
